asgiref==3.11.1
Django==6.0.4
joblib==1.5.3
mysqlclient==2.2.8
numpy==2.4.4
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.11
PyMySQL==1.1.2
pytesseract==0.3.13
python-dotenv==1.2.2
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.2
