{% extends "lostandfound/layout.html" %}

{% block body %}
    <h2>Found Items</h2>

    <ul>
        {% for item in items %}
            <li>
                <p><strong>Name:</strong> {{ item.name }}</p>
                <p><strong>Location:</strong> {{ item.location }}</p>
                {% if item.description %}
                    <p><strong>Description:</strong> {{ item.description }}</p>
                {% endif %}

                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
                {% else %}
                    <p>No image found.</p>
                {% endif %}

                <p><a href="{% url 'claim' item.id %}">Claim This Item</a></p>
            </li>
        {% empty %}
            <li>No found items available.</li>
        {% endfor %}
    </ul>


{% endblock %}